nav {
    display: flex;
    justify-content: space-between;
    background-color: teal;
}

.banner {
    width: 65%;
    text-align: left;
}

.banner2 {
    width: 25%;
    text-align: left;
}

img {
    display: block;
    margin: 0 auto;
}
body{
    background-color: lightblue;
}
.second{
    display: flex;
    justify-content: space-between;
}
.destinataires{
    width: 50%;
    text-align: left;
}
.envoyer{
    width: 50%;
    text-align: left;
}
.third{
    display: flex;
    justify-content: space-between;
}

.Remarques{
    width: 40%;
    text-align: left;
}

table{
    border-collapse: collapse;
    background-color: white;
  }
  
  td{
    border: 1px solid black;
    padding: 10px;
    width:100%; 
  }
.list{
    text-align: center;
    background-color: teal;
    color: white;
}
footer{
    background-color: grey;
    color: grey;
    width: 100%;
    height: 1%;
}
br{ color: black;}
.bn{
    background-color: teal;
}
.en{
    background-color: lightblue;
}
.coutsde{
    width: 10%;
    text-align: middle;

}
