html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    }
    
    .container {
    width: 98%;
    height: 100%;
    border: 1px solid green;
    }
    
    header {
    text-align: center;
    width: 100%; 
    background-color: green;
    border: 1px solid green;
    color: white;
    }
    
    .main {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 5px;
    }
    
    .menu {
    width: 20%;
    height: 100%;
    background-color: green;
    border: 1px solid green;
    color: white;
    }
    
    .menu ul {
    list-style: none;
    padding: 0;
    }
    
    .menu li {
    padding: 10px;
    color: white;
    }
    
    .menu a {
    color: white;
    text-decoration: none;
    }
    
    .sub-menu {
    display: none;
    color: white;
    }
    
    .menu li:hover .sub-menu {
    display: block;
    position: absolute; 
    top: 10px;
    margin-left: 13%;
    }
    #projet{
        position: absolute; 
        top: 55%;
    }
    #CV{
        position: absolute; 
        top: 27.7%;
    }
    #veille{
        position: absolute; 
        top: 67.5%;
    }
    
    .content-container {
    width: 80%;
    height: 100%;
    margin-left: 3%;
    display: flex;
    border: 1px solid green;
    color: white;
    }
    
    .text-container {
    border: 1px solid green;
    flex: 1;
    color: white;
    }
    
    .image-container {
    width: 20%;
    border: 1px solid green;
    }
    
    img {
    width: 100%;
    }
    
    footer {
    text-align: center;
    background-color: green;
    width: 100%;
    margin-top: 1em;
    border: 1px solid green;
    color: white;
    }
    .contact{
    text-align: center;
    background-color: green;
    width: 100%;
    margin-top: 1em;
    border: 1px solid green;
    color: white;
    }
    button {
        background-color: #0c660f; /* Green */
        width: 200px;
        border: solid;
        border-color: black;
        color: white;
        padding: 10% 15%;
        text-align: center;
        display: inline-block;
        font-size: 16px;
    }
    iframe{
        width:100%;
        height: 100%;
    }

    .home{
    text-align: center;
    width: 100%; 
    background-color: green;
    border: 1px solid green;
    color: white;
    }
 
 